.access{
    font-style: italic;
    font-weight: 600;
    font-size: 1.2rem;
}
.access .bx{
    color: var(--first-color);
    filter: drop-shadow(1px 1px 0px var(--text-color));
}
.access p{
    filter: drop-shadow(1px 1px 0px var(--text-color));
}
.user_wrapper, .rrss_wrapper{
    position: fixed;
    left: 0;
    width: 90%;
    max-width: 400px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 1rem;
    background: linear-gradient(0deg, rgb(248, 210, 216), white);
    border: 2px solid var(--button-color);
    border-left: none;
    color: var(--button-color);
}
.user_wrapper{
    border-bottom: none;
    box-shadow: 4px -2px var(--first-color);
    top: 5rem;
    border-top-right-radius: 2.5rem;
}
.rrss_wrapper{
    border-top: none;
    top: 8rem;
    border-bottom-right-radius: 2.5rem;
    box-shadow: 4px 2px var(--first-color);
}
.contact_us, .users{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100%;
}
.users{
    justify-content: center;
    padding-left: 3.5rem;
}
.contact_us img{
    max-height: 2rem;
    filter: drop-shadow(0 0 5px var(--button-color));
}
.user_wrapper .bx{
    animation: icons 5s infinite linear;
}
.rrss_wrapper .bx{
    animation: icons 5s infinite 2.5s linear;
}
@keyframes icons {
    0%{

    }
    45%{
        scale: 1;
    }
    47%{
        scale: 1.3;
        rotate: 0;
    }
    49%{
        rotate: 5deg;
    }
    50%{
        rotate: -5deg;
    }
    51%{
        rotate: 5deg;
    }
    52%{
        rotate: 52deg;
    }
    53%{
        rotate: 5deg;
    }
    54%{
        rotate: 0;
        scale: 1;
    }
    75%{
    }
    10%{

    }
}