header {
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--title-color);
    z-index: 100;
    display: flex;
    align-items: center;
    background: url(../../assets/img/logo.png);
    background-position: 110%;
    background-size: 60%;
    background-repeat: no-repeat;
}

header img {
    display: none;
}

.header_bg {
    background: url(../../assets/img/logo.png), var(--body-color);
    background-position: 0%;
    background-size: 80%;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

h1 {
    font-size: 1.9rem;
    background: url(../../assets/img/f_titulo.png);
    background-size: 140% 150%;
    background-position: center;
}

.txtkalan {
    font-family: 'Kalam', cursive;
}

.scroll-bg {
    background-color: var(--body-color);
}

menu {
    display: none;
}

.change {
    color: var(--first-color);
    filter: drop-shadow(3px 3px 3px var(--container-color));
}

.icons_contain {
    width: 40%;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    padding: .3rem 0;
}

.bx-sun,
.icon_bag,
.bx-grid-alt {
    width: 30px;
}

.bx:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.icon_bag {
    position: relative;
}

.bag_count {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: .6rem;
    background-color: hsl(0, 0%, 15%);
}

.rrss {
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
    position: fixed;
    bottom: 10vh;
    right: 0rem;
}

.rrss img {
    width: 2.2rem;
    height: 2.2rem;
    filter: drop-shadow(2px 2px 3px var(--first-color));
}

.rrss img:hover {
    transform: scale(1.2);
}

.wrapper_nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--body-color);
}

.progress {
    height: 2px;
    background: linear-gradient(to left, rgb(137, 75, 161), var(--first-color), rgb(137, 75, 161));
    border-radius: 1px;
}
.menu_slider{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 4rem);
    bottom: 0;
    left: 0;
    background: url(../../assets/img/lirio2.jpg);
    background-size: cover;
    transition: left .5s ease-in-out;
}
.menu_slider.hide{
    left: 150vw;
}
.child_menu{
    width: calc(100% - 18px);
    height: calc(100% - 18px);
    opacity: .9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 15px;
    background: linear-gradient(225deg, var(--body-color), white);
    position: relative;
    left: 0;
    transition: left 1.2s ease-in-out;
    font-size: 1.7rem;
}
.child_menu.hide{
    left: 150vw;
}
.child_menu img{
    width: 70%;
    max-width: 320px;
    display: block;
    filter: drop-shadow(0 0 15px var(--button-color));
}
.child_menu a{
    color: var(--first-color);
    font-style: italic;
}

@media screen and (min-width: 789px) {
    header{
        background: rgba(255, 255, 255, 0.4);
        justify-content: space-between;
        height: 5rem;
        padding: 0 calc(50vw - 550px);
    }
    h1{
        font-size: 2.3rem;
    }
    .header_bg{
        background: var(--body-color);
    }
    header img{
        display: block;
        width: 120px;
        filter: drop-shadow(0 0 15px var(--button-color));
    }
    nav{
        background-color: transparent;
        width: calc(100% - 120px);
        margin-right: 1rem;
    }
    menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.4rem;
        color: var(--title-color);
        font-weight: 800;
        font-size: 1.6rem;
        font-style: oblique;
    }
    .bx-grid-alt{
        display: none;
    }
    .wrapper_nav, .progress{
        height: 3px;
    }
}