@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: rgb(140, 215, 1);
  --button-color: hsl(285, 66%, 65%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(309, 100%, 93%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: #d7f2fa;
  --container-color: #fff;
  --border-color: hsl(292, 22%, 87%);

  /*========== Font and typography ==========*/
  /* --body-font: sans-serif; */
}


/*========== resets ==========*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--title-color);
}
a, button{
  cursor: pointer;
}
body{
    background-color: var(--border-color);
    color: var(--title-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    margin: auto;
}
body.dark{
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: rgb(38, 38, 54);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(250, 26%, 17%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: .9;
}

#loader img{
  position: relative;
  width: 200px;
  filter: drop-shadow(6px 6px 3px var(--button-color));
  animation: loaderImg 2s infinite;
  animation-timing-function: linear;
}

#loader h4{
  width: 250px;
  font-size: 3rem;
  text-align: center;
}

#loader p{
  width: 80%;
  max-width: 500px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--first-color);
  animation: loaderh3 2s infinite;
  animation-timing-function: linear;
  font-style: italic;
}

@keyframes loaderImg {
  0%{
      top: 0px;
      transform: scale(1);
  }
  50%{
      top: -20px;
      transform: scale(1.1);
  }
  100%{
      top: 0;
      transform: scale(1);
  }
}

@keyframes loaderh3 {
  0%{
      color: var(--body-color);
  }
  50%{
      color: var(--first-color);
  }
  100%{
      color: var(--body-color);
  }
}

/*========= HOME ==========*/
#home{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  background-color: var(--body-color);
}
.producto_destacado{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: url(./assets/img/bg_fp1.jpg);
  background-position: 0 center;
  padding-bottom: 4rem;
  background-size: cover;
}
.img_destacado{
  background: url(./assets/img/viniles.png);
  width: 90%;
  max-width: 600px;
  height: 80vh;
  align-self: flex-end;
  border-radius: 0 0 0 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid var(--button-color-alt);
  border-top: none;
  border-right: none;
}
.fp_description{
  width: 100%;
  max-width: 500px;
  align-self: flex-start;
  font-size: 1.6rem;
  padding: 0 1rem;
}
.fp_description h4{
  font-size: 1.8rem;
  line-height: 2.5rem;
}
.fp_description h4 span{
  color: var(--first-color);
  font-size: 2.2rem;
  filter: drop-shadow(1px 1px var(--text-color));
}
.fp_description h5{
  margin-bottom: 1.7rem;
  font-size: 1.8rem;
}
.fp_btn{
  align-self: start;
  width: 300px;
  display: flex;
  align-items: center;
}
.discover{
  background-color: #757575;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 5px 0 0 5px;
  font-size: 17px;
}
.add_cart{
  background-color: var(--title-color);
  width: 130px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 18px;
  color: var(--body-color);
  border-radius: 0px 5px 5px 0px;
}
.discover:hover{
  color: white;
  cursor: pointer;
}
.add_cart:hover{
  background-color: var(--first-color);
  cursor: pointer;
}

/*=====PARALLAX============*/
.parallax{
  background: url(./assets/img/lirio2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 3.8rem;
  border-top: 3px inset var(--border-color);
  border-bottom: 3px inset var(--border-color);
}
.parallax p{
  color: var(--body-color);
  text-align: center;
  width: 90%;
  max-width: 550px;
  font-size: 1.2rem;
  filter: drop-shadow( 1px 1px var(--title-color));
}
.parallax p span{
  color: var(--first-color);
  font-size: 1.4rem;
}

/*============= FILTRO PRODUCTOS ===========*/
.home_products{
  background: url(./assets/img/bg_ph.jpg);
  background-position: 0 center;
  padding-bottom: 4rem;
  background-size: cover;
  padding-top: 4rem;
}
.filter_contain{
  display: flex;
  padding: 0 .8rem;
  width: 100%;
}
.filter_contain h4{
  font-size: 1rem;
}
.filter_contain p{
  font-size: .8rem;
}
.all{
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.materiales{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--first-color);
  gap: .8rem;
}
.materiales div{
  width: 43%;
  max-width: 180px;
  border: 1px solid;
  text-align: center;
  background-color: var(--title-color);
  color: var(--body-color);
  padding: 1rem .5rem;
  border-radius: 5px;
}
.all:hover{
  color: var(--first-color);
  cursor: pointer;
}
.materiales div:hover{
  background-color: var(--first-color);
  cursor: pointer;
}
/*===============LOGIN=================*/
.login_container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 7rem 0;
}
.container_form{
  width: 100%;
  max-width: 500px;
  padding: 2rem;
}
.container_form p{
  cursor: pointer;
  float: right;
  background: var(--button-color);
  padding: .5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px;
  color: var(--body-color);
  margin-bottom: 1rem;
  font-style: italic;
}
form{
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
form h4{
  font-size: 2rem;
  font-style: italic;
}
.login_box{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  font-weight: 500;
  gap: .5rem;
}
.login_box input{
  width: 100%;
  height: 2.5rem;
  border-radius: 8px;
  background-color: var(--body-color);
  border: none;
  padding: 0 1rem;
}
.login_btn{
  width: 70%;
  margin: 1rem auto;
  height: 2.8rem;
  border: 3px inset var(--body-color);
  border-radius: 10px;
  font-size: 1.3rem;
}
.login_box span{
  color: rgb(169, 4, 4);
  font-size: .9rem;
  padding-left: .5rem;
  margin-top: -.5rem;
}

.create_product{
  width: 100%;
  background-color: var(--button-color-alt);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.form_create{
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  background-color: var(--title-color);
  color: white;
}
.form_create input, select{
  height: 2rem;
  padding: 0 .5rem;
}
.input_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.norm{
  display: flex;
  flex-direction: column;
  width: 45%;
}
.input_descripcion{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_create button{
  height: 2.5rem;
  width: 50%;
  margin: 2rem auto;
}
.total_products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #d7f2fa;
}
.total_products h4{
  width: 100%;
}
.total_products div{
  width: 200px;
}

@media screen and (min-width: 789px) {
  .producto_destacado{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .fp_description{
    align-self: flex-end;
    padding-bottom: 5rem;
  }
  .img_destacado{
    height: 100vh;
  }
  .fp_description h4{
    font-size: 2.2rem;
    line-height: 3.5rem;  
  }
  .fp_description h4 span{
    font-size: 2.7rem;
  }
  .fp_description h5{
    font-size: 2.2rem;
  }
  .parallax{
    background: url(./assets/img/parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    top: 4.5rem;
  }
  .parallax p{
    font-size: 1.4rem;
  }
  .parallax p span{
    font-size: 1.6rem;
  }  

}