@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: #737dc0;
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: #d7f2fa;
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}


/*========== resets ==========*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: roboto;
}
a{
    text-decoration: none;
    color: var(--title-color);
}
a, button{
  cursor: pointer;
}
body{
    background-color: var(--body-color);
    color: var(--title-color);
}
body.dark{
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: rgb(38, 38, 54);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(250, 26%, 17%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: .9;
}

#loader img{
  position: relative;
  width: 200px;
  filter: drop-shadow(6px 6px 3px var(--first-color));
  animation: loaderImg 2s infinite;
  animation-timing-function: linear;
}
#loader h4{
  width: 250px;
  font-size: 3rem;
  text-align: center;
}
#loader p{
  width: 80%;
  max-width: 500px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--first-color);
  animation: loaderh3 2s infinite;
  animation-timing-function: linear;
  font-style: italic;
}

@keyframes loaderImg {
  0%{
      top: 0px;
      transform: scale(1);
  }
  50%{
      top: -20px;
      transform: scale(1.1);
  }
  100%{
      top: 0;
      transform: scale(1);
  }
}
@keyframes loaderh3 {
  0%{
      color: var(--body-color);
  }
  50%{
      color: var(--first-color);
  }
  100%{
      color: var(--body-color);
  }
}
